<h1>Wecome to Civics 101!</h1>
<p>This is a little app that demonstrates how to use Rendr by consuming Google's public Civics Api.</p>
<p>Check out <a href="/elections">Elections</a> or <a href="/users">Users</a>.</p>

<p>{{copyright "2013"}}</p>
